html{
    border:0px;
    margin:0px;
}
a{
    text-decoration: none;
    color:black;
}
.flex{
    display: flex;
}
.red{
    color: red;
}
#task-list li[mark=true]{
    background-color: lightgray;
}
.bold-text{
    font-size: 0.9rem;
    font-weight: 550;
}
*{
    transition: 0.4s;
}
form{
    height:20%;
    border:1px solid black;
    
    text-align: center;
    vertical-align: middle;
    
}
.input{
    height:40%;
    width:40%;
    margin:2px;
    padding:2px;
    border:none;
    border-bottom: 2px solid black;
}
body{
    width:40%;
    min-width:350px;
    border:1px solid black;
    margin: auto;
    height: 80vh;
    min-height: 500px;
    padding: 10px;
    display:flex;
    flex-direction: column;

    /* overflow: hidden; */
}
.wid90{
    width:90%;
}
.wid70{
    width:70%;
}
.wid50{
    width:49%;
}
#task-list{
    /* overflow: hidden; */
    overflow: scroll;
    height: 50%;
    align-items: center;
}
#task-list::-webkit-scrollbar {
    display: none;
}
#task-list li{
    border:1px solid black;
    margin:5px;
    transition: 0.4s;
    position: relative;
    /* height:auto; */
    width: auto;
    padding: 5px;
    list-style: none;
    /* text-align: center; */
    /* list-style-image: url("https://pluspng.com/img-png/circle-png-circle-png-hd-1600.png"); */
    
}

#task-list li:hover{
    background-color: lightgray !important;
}
#category{
    border:1px solid black;
    padding:2px;
    height:10%;
}

#category[cat="Work"]{
    background-color: aliceblue;
}
#category[cat="Home"]{
    background-color: aliceblue;
}
#category[cat="Urgent"]{
    background-color: aliceblue;
}
#category[cat="Other"]{
    background-color: aliceblue;
}


.alter{
    position: absolute;
    /* background-color: lightgray; */
    top:0px;
    /* left:40%; */
    /* opacity:0.2; */
    /* background-color: aqua; */
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display:none; */
}

#filters{
    height:5%;
}

#filters div{
    display: inline-block;
}

/* div,h1{
    border:1px solid black;
    /* padding:0px; */
} */